@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Lexend+Deca&display=swap');

$family-primary: 'Lexend Deca', sans-serif;
$family-secondary: 'Inter', sans-serif;

$weight-200: 200;
$weight-400: 400;

$size-small: 1rem;
$size-normal: 1.1rem;
$size-large: 1.5rem;
$size-title: 1.6rem;